.table-style {
    border-collapse: collapse;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: 10px;
}
.head {
    border-style: groove;
    border-width: 1px;
    padding: 5px;
}
.info {
    border-style: groove;
    border-width: 1px 1px 3px 1px;
    padding: 5px;
}